* {
  --white: #ffffff;
  --primary-blue: #4d97ff;
  --primary-orange: #ffbf00;
  --twitter-blue: #1d9bf0;
  --scratch-orange: #ffbf00;
  --github-black: #24292f;
  --dark-gray: #4a4a4a;
  --light-gray: #5e5e5e;
  
  font-family: "Noto Sans JP";
  color: var(--white);
  line-height: 2em;
  
  /*禁則処理*/
  word-break: keep-all;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

body {
  margin: 0px;
  background-color: var(--light-gray);
}

h1 {
  margin: 0px;
  font-size: 40px;
  font-weight: 700;
}

p {
  margin: 0px;
  font-size: 25px;
}

a {
  font-size: 25px;
  text-decoration: none;
  color: rgb(255 255 255 / 75%);
}

a:hover {
  color: var(--white);
}

ul {
  padding: 0px;
}

li {
  font-size: 25px;
  list-style: none;
}

::selection {
  background-color: #8f8f8f;
  color: var(--white);
}

/*box設定*/
.box {
  padding: 5%;
}

.box img {
  border-radius: 10px;
  max-width: 100%;
}

.box:nth-of-type(2n) {
  background-color: var(--dark-gray);
  border-bottom: solid 3px var(--primary-blue);
}

.box:nth-of-type(2n+1) {
  background-color: var(--light-gray);
  border-bottom: solid 3px var(--primary-orange);
}

.box:first-of-type {
  border-top: solid 3px var(--primary-blue);
}

/*ヘッダー*/
header {
  text-align: center;
  border-right: solid var(--primary-blue) 5vw;
  border-left: solid var(--primary-orange) 5vw;
  background-color: var(--dark-gray);
  margin-bottom: 10px;
}

/*フッター*/
footer {
  text-align: center;
  background: var(--dark-gray);
  margin-top: 10px;
}

/*文字装飾系*/
.big {
  font-size: 33px;
}

.delete {
  text-decoration: line-through;
}

/*ボタンデザイン*/
a.twitter {
  color: var(--white);
  border-radius: 10px;
  background-color: var(--twitter-blue);
  padding: 5px;
  margin-right: 30px;
  transition: all 0.3s ease 0s;
}

a.twitter:hover {
  background-color: #177abd;
  color: #cccccc;
}

a.scratch {
  color: var(--white);
  border-radius: 10px;
  background-color: var(--scratch-orange);
  padding: 5px;
  margin-right: 30px;
  transition: all 0.3s ease 0s;
}

a.scratch:hover {
  background-color: #cc9900;
  color: #cccccc;
}

/*スマホ用フォントサイズ
フォントサイズを変えたら必ずこっちもいじること！
(フォントサイズ)/(625)*(100)で求められる*/
@media screen and (max-width:625px) {
  h1 {
    font-size: 6.4vw;
  }

  p {
    font-size: 4vw;
  }

  a {
    font-size: 4vw
  }

  li {
    font-size: 4vw;
  }

  .big {
    font-size: 5.28vw;
  }
}
