* {
  --white: #ffffff;
  --primary-blue: #4d97ff;
  --primary-orange: #ffbf00;
  --twitter-blue: #1d9bf0;
  --scratch-orange: #ffbf00;
  --github-black: #24292f;
  --dark-gray: #4a4a4a;
  --light-gray: #5e5e5e;
  font-family: "Noto Sans JP";
  color: var(--white);
  line-height: 2em;
  /*禁則処理*/
  word-break: keep-all;
  line-break: strict;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-feature-settings: "palt"1;
}

html,body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  background-color: var(--light-gray);
}

h1 {
  margin: 0px;
  font-size: min(6.4vw, 40px);
  font-weight: 700;
}

p {
  margin: 0px;
  font-size: min(4vw, 25px);
}

a {
  font-size: min(4vw, 25px);
  text-decoration: none;
  color: rgb(255 255 255 / 75%);
}

a:hover {
  color: var(--white);
}

ul {
  padding: 0px;
}

li {
  font-size: min(4vw, 25px);
  list-style: none;
}

::selection {
  background-color: #8f8f8f;
  color: var(--white);
}

/*box設定*/
.box {
  padding: 5%;
}

.box img {
  border-radius: 10px;
  max-width: 100%;
}

.box iframe {
  max-width: 100%;
  border: 0px;
}

.box:nth-of-type(2n) {
  background-color: var(--dark-gray);
  border-bottom: solid 3px var(--primary-blue);
}

.box:nth-of-type(2n+1) {
  background-color: var(--light-gray);
  border-bottom: solid 3px var(--primary-orange);
}

.box:first-of-type {
  border-top: solid 3px var(--primary-blue);
}

/*user-box設定*/
.user-box {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 10px;
  border-left: solid 10px;
  border-left-color: var(--primary-orange);
  transition: border-left 0.3s;
}

.user-box.blue {
  border-left-color: var(--primary-blue);
}

.box:nth-of-type(2n) .user-box {
  background-color: var(--light-gray);
}

.box:nth-of-type(2n+1) .user-box {
  background-color: var(--dark-gray);
}

.user-box:hover {
  border-left: solid 15px;
  border-left-color: var(--primary-orange);
}

.user-box.blue:hover {
  border-left-color: var(--primary-blue);
}

.user-box.wide-margin {
  margin-bottom: 40px;
}

/*ヘッダー*/
header {
  text-align: center;
  border-right: solid var(--primary-blue) 5vw;
  border-left: solid var(--primary-orange) 5vw;
  background-color: var(--dark-gray);
  margin-bottom: 10px;
}

/*フッター*/
footer {
  text-align: center;
  background: var(--dark-gray);
  margin-top: 10px;
}

/*ファーストビュー*/
.fv {
  position: fixed;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  background-color: var(--light-gray);
  font-weight: 700;
  font-size: min(7vw, 80px);
  animation: 2s fv-animation ease 0s forwards;
}

@keyframes fv-animation {
  0% {
    opacity: 1;
    border-top: solid 0px var(--primary-blue);
    border-bottom: solid 0px var(--primary-orange);
  }

  80% {
    opacity: 1;
    border-top: solid 10vh var(--primary-blue);
    border-bottom: solid 10vh var(--primary-orange);
  }

  100% {
    opacity: 0;
    visibility: hidden;
    border-top: solid 0px var(--primary-blue);
    border-bottom: solid 0px var(--primary-orange);
  }
}

/*文字装飾系*/
.big {
  font-size: min(5.28vw, 33px);
}

.delete {
  text-decoration: line-through;
}

/*アスキーアート用*/
.askii-art {
  line-height: 1.5em;
  white-space: nowrap;
  display: inline-block;
}

/*カクカクアニメーション*/
.dance {
  animation: kakukaku 1s steps(2) infinite;
}

@keyframes kakukaku {
  0% {
    transform: translate(0px, 0px);
  }

  100% {
    transform: translate(50px, 0px);
  }
}

/*ボタンデザイン*/
a.button {
  color: var(--white);
  border-radius: 10px;
  padding: 0px 5px;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
  margin: 5px 7mm 5px 0px;
}

a.share {
  color: var(--white);
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: calc(min(4vw, 25px) * 3);
  height: calc(min(4vw, 25px) * 3);
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

a.twitter {
  background-color: var(--twitter-blue);
}

a.twitter:hover {
  background-color: #177abd;
  color: #cccccc;
}

a.scratch {
  background-color: var(--scratch-orange);
}

a.scratch:hover {
  background-color: #cc9900;
  color: #cccccc;
}

a.github {
  background-color: var(--github-black);
}

a.github:hover {
  background-color: #0d0f11;
  color: #cccccc;
}

a.web {
  background-color: var(--primary-orange);
}

a.web:hover {
  background-color: #cc9900;
  color: #cccccc;
}

a * {
  color: inherit;
}
